.p{
    background-color: rgb(151, 196, 211);
    text-align: justify;

    padding-top: 50px;

    padding-left: 30px;



}

.h1{
    background-color: rgb(71, 218, 255);
    text-align: center;

    margin: 20px;
}

#sample-id-selector{
    background-color: blanchedalmond;
    text-align: left;
    font-size: large;
}
 
